$cercleSize: 80px;

$boxHeight: 60px;

$marginTopGrid: 30px;

%grid-Ul {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
%nav {
  align-items: center; // delete after
  height: 300px;
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
%activeCircle {
  // border: 1px dotted black;
  position: relative;

  & span {
    position: absolute;
    top: center;
    left: center;
    transform: translateX(-50%) translateY(-25%);
    width: $cercleSize;
    height: $cercleSize;
    border-radius: 50%;
    color: white;
    line-height: $cercleSize;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  }
}
%active2 {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 3px;
    left: 13px;
    bottom: -5px;
    background-color: red;
  }
}

.main {
  width: 600px;
  margin: 0 auto;
  &__nav {
    position: fixed;
    top: 100px;
    left: 0;
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: rgb(218, 218, 218);
    z-index: 2;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  &__greed {
    margin-top: 400px;
    margin-bottom: 215px;
    z-index: 1;
  }

  &__buttons {
    position: fixed;
    bottom: 85px;
    left: 0;
    width: 100%;
    background: rgb(218, 218, 218);
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
  }
  &__buttonsContainer {
    width: 600px;
    display: flex;
    justify-content: space-between;
  }
}

.nav {
  // background-color: antiquewhite;
  @extend %nav;
  &__weekUl {
    @extend %grid-Ul;

    & li {
      text-align: center;
      font-size: 30px;
      font-weight: 600;
    }
  }

  &__dayUl {
    @extend %grid-Ul;
    & li {
      position: relative; // may be it isn't neccessary
      text-align: center;
      font-size: 38px;
      font-weight: 500;
      &.active {
        @extend %activeCircle;
      }
      &.active2 {
        @extend %active2;
      }
    }
  }

  &__monthBlock {
    width: 100%; // 1
    display: flex; // 1
    justify-content: space-between; // 1
    align-items: center;
    // background-color: aquamarine; // delete
    padding: 0 20px;
    font-size: 20px;
    font-weight: 600;
  }

  &__month {
  }

  &__right {
  }
}

.greed {
  position: relative;
  width: 600px;
  margin: 0 auto;

  &__time-left {
    position: absolute;
    top: calc(-33px + $marginTopGrid);
    left: -55px;
    width: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, $boxHeight);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    & div {
      // border: 1px solid black;
      line-height: $boxHeight;
      text-align: center;
      color: gray;
      font-size: 18px;

      // 1
    }
  }
  &__time-right {
    position: absolute;
    top: calc(-33px + $marginTopGrid);
    right: -55px;
    width: 50px;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(12, $boxHeight);
    grid-column-gap: 0px;
    grid-row-gap: 8px;
    & div {
      // border: 1px solid black;
      line-height: $boxHeight;
      text-align: center;
      color: gray;
      font-size: 18px;

      // 1
    }
  } // todo ====================
  &__events {
    padding: $marginTopGrid 5px 0 5px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(24, $boxHeight); // 1
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    & div {
      // border: 1px solid rgba(0, 0, 0, 0.284); // !!!!!!!
      border-radius: 8px;
      &.active {
        background-color: rgb(181, 194, 195);
      }
    }
  }
  &__gorizontal {
    @mixin gorizontLine($f) {
      position: absolute;
      width: 100%;
      height: 1px;
      top: $f;
      left: 0;
      background-color: gray;
      z-index: 1;
    }
    $top: 26px;
    @for $i from 1 through 25 {
      & :nth-child(#{$i}) {
        @include gorizontLine($top);
      }
      $top: calc($top + 68px);
    }
  }
  &__vertical {
    $left: 85.4px;
    @mixin verticalLine($f) {
      position: absolute;
      width: 1px;
      height: 98.6%;
      top: 27px;
      left: $f;
      background-color: gray;
      z-index: 1;
    }
    @for $i from 1 through 6 {
      & :nth-child(#{$i}) {
        @include verticalLine($left);
      }
      $left: calc($left + 85.7px);
    }
  }
}
